* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.appcont {
    background: #0B0C2A;
}

/* ........................navbar.......................................... */
.navbarcont {
    background: #070720;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin: 0 100px;
    position: relative;

}

.logoname {
    font-size: 30px;
    font-weight: 500;
    padding: 9px;
}

.logoname span {
    color: #E53637;
}

 .navbarlinks  {
    display: flex;
}  

.navlink {
    margin: 0 5px;
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
    font-weight: 700;
    padding: 20px;
    position: relative;
}


.drpdwn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: #161515;
    width: 100%;
    top: 100%;
    height: 0;
    overflow: hidden;
    z-index: 11;
}
.drpdwncont:hover > .drpdwn{
    height: auto;

}
.drpdwn:hover{
    height: auto;
}

.navshowbtn {
    display: none;
    font-size: 25px;
}

.animesearch{
    position: relative;
}
.searchresultcont{
    top: 150%;
    background: #070720;
    position: absolute;
    width: 110%;
    height: 25vh;
    z-index: 20;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchresultcont a img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
   
}
.searchresultcont a{
    display: flex;
    width: 100%;
    border: 1px solid #242424;
    justify-content:space-between;
    align-items: center;
   flex-direction: row;
}
.searchresultcont a div{
    width: 30%;
    overflow: hidden;
}
.searchresultcont a h5{
    width: 70%;
}

.animesearch input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 0, 0);
    color: #fff;
}
.animesearch input:focus{
   outline: none;
}

.searchicon{
    color: rgb(255, 0, 0);
    padding: 2px;
    font-size: 20px;
}

/* 

..................................slideshow......................... */

.slideshowcont {
    height: 1%;
    margin: 50px 5%;
    overflow: hidden;
    border-radius: 20px;
    display: none;
}



.slideshowcont img {
    width: 100%;
    animation: slide;
    animation-delay: 4.5s;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;

}

@keyframes slide {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.1);
        filter: blur(10px);
    }
}

.slidedotcont {
    text-align: center;
}

.dot {
    display: inline-block;
    margin: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid #E53637;
}

.dotactive {
    background-color: red;
}


.Animelistcont {
    margin: 50px 3%;
}

.animetopiclist {
    margin: 50px 0;
}

.Animegene {
    background: #070720;
    border-left: 5px solid #E53637;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10px;
}



.animelist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    margin: 25px;

    width: 250px;
    height: 470px;
    overflow: hidden;
}

.cardimg {
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.cardimg img {
    width: 100%;
    height: 100%;
    /* filter: blur(0.5px); */
    transition: 0.3s;
}

.cardimg img:hover {
    transform: scale(1.1);

}

.cardimg span {
    position: absolute;
    z-index: 1;
    color: white;
    background-color: gray;
    padding: 3px 5px;
    font-size: 13px;
    border-radius: 5px;

}

.cardimg span:nth-of-type(1) {
    top: 10px;
    left: 10px;
    background-color: #E53637;
}

.cardimg span:nth-of-type(2) {
    bottom: 10px;
    left: 10px;
}

.cardimg span:nth-of-type(3) {
    right: 10px;
    bottom: 10px;
}

.cardinfo {
    color: white;
    padding: 5px 8px;
}

.cardinfo span {
    display: inline-block;
    background-color: gray;
    padding: 3px 5px;
    font-size: 13px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px;
}

.cardinfo div {
    margin-top: 15px;
}

.cardinfo .cardname {
    font-size: 20px;
    font-weight: 700;
}


.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E53637;
}

.pagination span {

    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}




.animedetailscont {
    margin: 50px 100px;
}

.animedetails {
    color: white;

}

.animedetails img {
    height: 60vh;
}

.animeimg {
    margin: 30px 0;
}

/* .details{
    display: flex;
} */


.detailList {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.detailList li {
    width: 50%;
}

.detailList li>span {
    display: inline-block;
    width: 40%;
}

.watchButton button {
    padding: 10px 5px;
    background-color: #E53637;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.review {
    margin: 25px 0;
}

.review .userimg {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.reviewuser {
    display: flex;
    align-items: center;
}

.reviewuser div {
    margin-left: 20px;
}

.userimg img {
    width: 100%;
    height: 100%;
}

.reviewdata {
    padding: 10px;
    background: rgb(29, 30, 57);
    height: 100px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid white
}








/* ......................................animewatch.......................................... */
.animewatchcont {
    margin: 50px 100px;
}

.animetrailercont iframe {
    width: 100%;
    height: 60vh;
}

.AnimeEpisode {

    background-color: #070720;
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: White;
}

.AnimeEpisode span {
    padding: 1px;
    border-radius: 10px;
}

.AnimeEpisode a {
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
}

.animeepicont {
    margin: 50px 0;
    display: flex;
    flex-direction: column-reverse;
}

/* ..............................................recommandationcont................................................ */

.recommandationcont{
    margin:  50px 100px;;
    
    
}
.recommandationlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* .recommand{
    
    overflow: hidden;
    margin: 15px;
    width: 20%;
    width: 300px;
    height: 450px;
}
.recommand .animeimg{
    width: 300px;

} */





/* ...........................................darkmodetooglebtn............................................... */

.darkmode input{
    display: none;
}
.darkmode label{
    position: relative;
    width: 50px;
    height: 26px;
    display: block;
    background: #d9d9d9;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.3), inset 0px -5px 15px rgba(255,255,255,0.3);
}

.darkmode label::after{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #f2f2f2;
    border-radius: 100%;
    top: 3px;
    left: 3px;
    transition: 0.5s;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);

}

input:checked ~ label:after{
    left: 47px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  input:checked ~ label{
    background: #242424;
  }




/* .........................................animenewscont.......................................... */

.animenewscont{
    margin:  50px 100px;;
}

/* .........................footer............................................ */

.footer {
    background-color: #070720;
    position: relative;
    padding: 50px 0;
    /* position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10; */
}

.footer>span {
    position: absolute;
    top: -15px;
    left: 50%;
    color: white;
    background-color: #E53637;
    border-radius: 50%;
    display: inline-block;
    padding: 10px 15px;
}





.loadcont {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadbar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #E53637;
    border-left: none;
    animation-name: loadbar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes loadbar {

    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/* @media screen and (max-width:900px ) {
    div{
        margin: 0;
    }
}

*/
@media screen and (max-width:850px) {

    .slideshowcontainer{
        display: none;
    }

    .slideshowcont {
        margin: 0;
        display: block;
    }

    .Animelistcont {
        margin: 0 10px;
    }

    .navbar {
        margin: 0 10px;

    }

    .navbarlinks {
        top: 58px;
        height: 0;
        left: 0;
        position: absolute;
        width: 100%;
        background-color: #070720;
        overflow: hidden;
        transition-duration: 1s;
        z-index: 10;
        flex-direction: column;
    }

    .navbarlinks a {
        display: block;

    }

    .drpdwn{
        position: static;
        
    }

    .navshowbtn {
        display: inline-block;
    }

    .animelist {
        justify-content: center;

    }

    .card {
        width: 250px;
        margin: 40px 0;
       
    }

    .animedetailscont {
        margin: 20px 0;
    }

    .animeimg {
        text-align: center;
    }

    .details {
        padding: 0 25px;
    }

    .detailList li {
        width: 100%;
        list-style-position: inside;
    }


    .animewatchcont {
        margin: 50px 0px;
    }

    .recommandationcont{
        margin:0;
        
        
    }
    .animenewscont{
        margin:0;
    }

}











/*....................................slideshow2..................................*/

.slideshowcontainer {
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.slider {
    border-radius: 20px;
    padding: 2px;
    width: 40%;
    height: 50%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 30%;
}

.slider img {
    width: 100%;
}

.slider:nth-child(1) {
    top: 20%;
    left: 0%;
    animation-name:slider1 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.slider:nth-child(2) {
    animation-name:slider2 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.slider:nth-child(3) {
    left: 60%;
    top: 20%;
    animation-name:slider3 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes slider1 {
    0% {
        top: 20%;
        left: 0%;
        z-index: 1;
    }

    33% {
        top: 20%;
        left: 60%;
        z-index: 2;
    }

    66% {
        top: 10%;
        left: 30%;
        z-index: 3;
    }

    100% {
        top: 20%;
        left: 0%;
        z-index: 1;
    }
}

@keyframes slider2 {
    0% {
        top: 10%;
        left: 30%;
        z-index: 3;
    }

    33% {
        top: 20%;
        left: 0%;
        z-index: 1;
    }

    66% {
        top: 20%;
        left: 60%;
        z-index: 2;
    }

    100% {
        top: 10%;
        left: 30%;   
        z-index: 3;
    }
}

@keyframes slider3 {
    0% {
        top: 20%;
        left: 60%;
        z-index: 2;
    }

    33% {
        top: 10%;
        left: 30%;
        z-index: 3;

    }

    66% {
        top: 20%;
        left: 0%;
        z-index: 1;
    }

    100% {
        top: 20%;
        left: 60%;
        z-index: 2;
    }
}